body {
   width: 100%;
   height: 100%;
   background-image: url("aoe_thedurrrrian.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
   font-size: 3.5rem;
   color: white;
   text-shadow: 1px 1px 2px black, 0 0 30px #9ed6d8, 0 0 15px darkblue;
}

hr {
   border-color: #b99ee5;
   border-width: 3px;
   max-width: 20rem;
   margin-top: 3%;
   box-shadow: 0 0 5px #9ed6d8;
}

.row {
   margin-top: 10%;
}

.btn {
   font-weight: 600;
   font-size: 1.1rem;
   text-transform: uppercase;
   border-radius: 15px;
}

.btn:hover {
   box-shadow: 0 0 10px red;
   color: #ffe5e5;
}

.btn-lg {
   padding: 15px 30px;
}

a{
   color: #a1abba;
}
a:hover{
   color: #b1c4e2;
}
.footer{
   position: fixed;
   width: 100%;
   left: 0;
   bottom: 0;
   color: white;
   background: rgba(170, 170, 170, 0.3);
}
